@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@200;400;700&family=Open+Sans:wght@200;400;500;700&family=Roboto:wght@200;400;500;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
    background: #fff;
  }
  /* LIGHT FONT COLORS */
  .fs_DefaultFont {
    color: #929292fb !important;
  }
  .fs_LightFont {
    color: #fff !important;
  }
  .fs_LightThemeFont {
    color: #9fc4d9 !important;
  }
  
  /* DARK FONT COLORS */
  .fs_BlackFont {
    color: #000 !important;
  }
  .fs_BlueFont {
    color: darkblue !important;
  }
  .fs_DarkFont {
    color: #262626 !important;
  }
  .fs_DarkThemeFont {
    color: #0d0f13 !important;
  }
  
  /* LIGHT BG COLORS */
  .themeBgOne {
    background: hsla(133deg 100% 50%/ 50%);
}
  .themeBgTwo {
    background: hsla(82deg 100% 50%/ 50%);
}
  .fs_DefaultBg {
    background-color: #efe6ff !important;
  }
  .fs_LightBg {
    background-color: #fff !important;
  }
  .fs_LightThemeBg {
    background-color: #9fc4d9 !important;
  }
  
  /* DARK BG COLORS */
  .fs_DarkBg {
    background-color: #353535 !important;
  }
  .fs_DarkThemeBg {
    /* background-color: #ffe717 !important ; */
    background-color: #c9ff00  !important ;
    
  }
  .fs_BlackBg {
    background-color: #050505 !important;
  }
  .fs_BlueBg {
    background-color: darkblue !important;
  }

  /* ENDS */
  
  /* SHADOW */
  .fs_ThemeShadow01 {
    box-shadow: -1px 15px 29px -16px #4d9468 !important;
    /* box-shadow: -1px 15px 29px -16px #ced83d!important; */
  }
  /* ENDS */
  .fs_GradientThemeBg {
    background: linear-gradient(133deg, #ff7a00, #db2587, #7000ff, #00ffc2);
  }
  /* ON IMAGE OVERLAY */
  .fs_imgTextOverlay {
    background: linear-gradient(
      264deg,
      rgba(0, 0, 0, 0.38) 0,
      rgba(0, 0, 0, 0.38) 3.5%,
      rgba(0, 0, 0, 0.379) 7%,
      rgba(0, 0, 0, 0.377) 10.35%,
      rgba(0, 0, 0, 0.375) 13.85%,
      rgba(0, 0, 0, 0.372) 17.35%,
      rgba(0, 0, 0, 0.369) 20.85%,
      rgba(0, 0, 0, 0.366) 24.35%,
      rgba(0, 0, 0, 0.364) 27.85%,
      rgba(0, 0, 0, 0.361) 31.35%,
      rgba(0, 0, 0, 0.358) 34.85%,
      rgba(0, 0, 0, 0.355) 38.35%,
      rgba(0, 0, 0, 0.353) 41.85%,
      rgba(0, 0, 0, 0.351) 45.35%,
      rgba(0, 0, 0, 0.35) 48.85%,
      rgba(0, 0, 0, 0.353) 52.35%,
      rgba(0, 0, 0, 0.36) 55.85%,
      rgba(0, 0, 0, 0.371) 59.35%,
      rgba(0, 0, 0, 0.385) 62.85%,
      rgba(0, 0, 0, 0.402) 66.35%,
      rgba(0, 0, 0, 0.42) 69.85%,
      rgba(0, 0, 0, 0.44) 73.35%,
      rgba(0, 0, 0, 0.46) 76.85%,
      rgba(0, 0, 0, 0.48) 80.35%,
      rgba(0, 0, 0, 0.498) 83.85%,
      rgba(0, 0, 0, 0.515) 87.35%,
      rgba(0, 0, 0, 0.529) 90.85%,
      rgba(0, 0, 0, 0.54) 94.35%,
      rgba(0, 0, 0, 0.547) 97.85%,
      rgba(0, 0, 0, 0.55)
    );
  }
  .fsOnImgOverlayFromBottom {
    background: linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 0,
      rgb(0 0 0 / 0%) 3.5%,
      rgb(0 0 0 / 0%) 7%,
      rgb(0 0 0 / 0%) 10.35%,
      rgb(0 0 0 / 0%) 13.85%,
      rgb(0 0 0 / 0%) 17.35%,
      rgb(0 0 0 / 0%) 20.85%,
      rgb(0 0 0 / 0%) 24.35%,
      rgb(0 0 0 / 0%) 27.85%,
      rgb(0 0 0 / 0%) 31.35%,
      rgb(0 0 0 / 0%) 34.85%,
      rgb(0 0 0 / 0%) 38.35%,
      rgb(0 0 0 / 0%) 41.85%,
      rgb(0 0 0 / 0%) 45.35%,
      rgb(0 0 0 / 0%) 48.85%,
      rgb(0 0 0 / 0%) 52.35%,
      rgb(0 0 0 / 0%) 55.85%,
      rgb(0 0 0 / 0%) 59.35%,
      rgb(0 0 0 / 0%) 62.85%,
      rgb(0 0 0 / 0%) 66.35%,
      rgb(0 0 0 / 8%) 69.85%,
      rgb(0 0 0 / 18%) 73.35%,
      rgb(0 0 0 / 30%) 76.85%,
      rgb(0 0 0 / 37%) 80.35%,
      rgba(0, 0, 0, 0.498) 83.85%,
      rgba(0, 0, 0, 0.515) 87.35%,
      rgba(0, 0, 0, 0.529) 90.85%,
      rgba(0, 0, 0, 0.54) 94.35%,
      rgba(0, 0, 0, 0.547) 97.85%,
      rgba(0, 0, 0, 0.55)
    );
  }
  .text_intact {
    word-break: keep-all;
  }
  
  /*font weight*/
  .fontW1 {
    font-weight: 100 !important;
  }
  .fontW2 {
    font-weight: 200 !important;
  }
  .fontW3 {
    font-weight: 300 !important;
  }
  .fontW4 {
    font-weight: 400 !important;
  }
  .fontW5 {
    font-weight: 500 !important;
  }
  .fontW6 {
    font-weight: 600 !important;
  }
  .fontW7 {
    font-weight: 700 !important;
  }
  .fontW8 {
    font-weight: 800 !important;
  }
  .fontW9 {
    font-weight: 900 !important;
  }
  /*borders*/
  
  .fsC_none_brdr {
    border: none !important;
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  /* TEXT OPACITY */
  .fsTextOpacity7 {
    opacity: 0.7;
  }
  /* FONT STYLE */
  .textUpercase {
    text-transform: uppercase;
  }
  .textCapitalize {
    text-transform: capitalize;
  }
  .textLowercase {
    text-transform: lowercase;
  }
  /*text alignment*/
  .a-left {
    text-align: left;
  }
  .a-right {
    text-align: right;
  }
  .a-center {
    text-align: center;
  }
  .a-justify {
    text-align: justify;
  }
  /* LINE HEIGHT */
  .fs_lineHeightForHLOnDesktop01 {
    line-height: 1;
  }
  .imgContainer {
    padding-bottom: 80%;
    background-size: contain;
    background-position: 50%;
    background-color: white;
    width: 100%;
    background-repeat: no-repeat;
  }
  /*MODAL*/
  /* .modal-content {
    margin-top: 25%;
  }
  .modal-dialog_fs {
    max-width: 90% !important;
  }
  .modal-content_fs {
    margin: 7% auto !important;
    border: none !important;
    border-radius: 0px !important;
  } */
  
  /* MODAL. Can be removed afterwards **/
  /* .miniModal_Body {
    min-width: 250px;
    width: auto;
    max-width: 90% !important;
  } */
  /* Expand width as required */
  
  /* Actual contents should go in the below boxes. FOR the moment not used due to less time for testing **/
  .fs_contentBoxFull {
    width: 100%;
    /* max-height: 100%; */
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .fs_contentBoxFull1 {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /* Firefox */ /* IE 10+ */
  .fs_contentBoxFull1::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
  .fs_contentBox60_R {
    width: 60%;
    max-height: 80%;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  /* Make this box responsive. On mobile make it 90%*/
  
  .fs_contentBox60 {
    width: 60%;
    max-height: 80%;
    overflow: hidden;
  }
  .fs_contentBox90 {
    width: 90%;
    max-height: 80%;
    overflow: hidden;
  }
  /* max-width: 100%;*/
  
  .fs_contentBox601 {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .fs_contentBox601::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  /* IE 10+ */ /* Firefox */ /* WebKit */
  
  /* height limiting boxes **/
  .fs_contentBox100H {
    width: 100%;
    height: 100px;
    max-height: 100px;
  }
  /*overflow: hidden;*/
  
  /* Image in overlay  ***/
  .abImageHeader {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  /*background-position: top;*/
  
  .simpleOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
  
  /* Must be wrapped inside bootstrap's container. Also make BS's container relative **/
  .fs_container {
    position: relative;
    left: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    /* position: relative;
    height: auto;
    width: auto;
    max-width: 1140px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto; */
  }
  
  /*relative position*/
  .fs_relative {
    position: relative;
  }
  
  .fsT_m1000 {
    min-height: 1000px;
    position: relative;
  }
  .fsT_m750 {
    min-height: 750px;
    position: relative;
  }
  .fsT_m650 {
    min-height: 650px;
    position: relative;
  }
/* body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* starts .navbar-brand */
.navbar-light .nav-item > .nav-link.active  {
  border: 2px solid black;
  border-radius: 66px 32px / 28px 59px;
  font-weight: bold;
  width: max-content;
}
.navbar-brand {
  width: 100px;
}
.navbar-brand img {
  height: 50px;
  /* put value of image height as your need */
  float: left;
  margin-right: 7px;
}
.is-hidden {
  opacity: 0;
  transition: transform 0.5s, opacity 0.2s;
}
navbar-hide {
  pointer-events: none;
  opacity: 0;
}



/* MODAL. Can be removed afterwards **/
.miniModal_Body {
  min-width: 800px;
  width: auto; /* Expand width as required */
  max-width: 90% !important;
}
/* .modal-content {
  margin-top: 8%;
  border-radius: 0px !important;
} */
.modal-dialog_fs {
  min-width: 82%;
  max-width: 80% !important;
  width: auto;
}
.modal-content_fs {
  margin: 7% auto !important;
  border: none !important;
  border-radius: 0px !important;
}

/*modal close btn*/
.close {
  font-size: 22px !important;
}

.text_bgImg {
    /* background: linear-gradient( 
      133deg
      ,#ff7a00, #db2587, #7000ff, #00ffc2); */
      background-image: url(../../../../../css/quickImg/mohammed_un.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
  background-position: center;
  -webkit-text-stroke: 0px #fff;
  
}
.header-base-unit {
  font-size: 20px;
}

/* Quicks END  */
.fs_cardImageSmallest {
  padding-bottom: 75%!important;  /*padding-bottom: 75%; */ /*  aspect-ratio of 4:3 */
  height: 0!important;
  overflow: hidden!important;
}
.fs_cardImageLarge {
  padding-bottom: 100%!important;/* padding-bottom: 100%;*/ /*  aspect-ratio of 1:1 */
  height: 0!important;
  overflow: hidden!important;
}
.fs_cardImageSmall {
  padding-bottom: 56.25%!important; /*  aspect-ratio of 16:9 */
  height: 0!important;
  overflow: hidden!important;
}
  

  /*padding-bottom: 66.66%;*/ /*  aspect-ratio of 3:2 */
  /*padding-bottom: 62.5%;*/ /*  aspect-ratio of 8:5 */
  /*padding-top: calc(591.44 / 1127.34 * 100%);*/
 


.priceBtn {
  font-weight: 400 !important;
  /* letter-spacing: 2px; */
  /* border: 1px solid #52525200 !important; */
  font-size: 18px;
  font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  /* text-align: center; */
  min-width: 170px;
  /* border-radius: 0px !important; */
  /* padding: 6px 5px; */
  /* background-color: #3dd842!important; */
  /* color: #000 !important; */
  /* letter-spacing: 2px; */
  border-radius: 0px !important;
 
  font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0 !important;
  margin-bottom: -1px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
/* .list-group-item a {
  color: #262626  !important;
} */
.fs_imgShadow {
  box-shadow: -1px 15px 29px -23px #000000a1;
}
/* .no-gutter-card-deck.card-columns {
  column-gap: 6px;
} */

.no-gutter-card-deck > .card {
  margin: 0;
}

.btn[aria-expanded="true"] {
  color: #262626 !important;
  background-color: #ffe717!important;
  text-decoration: none;
  box-shadow: none!important;
}

/* my styles */
.smallModalDio{min-width: 160px;
  width: auto;
  max-width: 25% !important;}
.smallModal01ChildOne{
  position: fixed;
    top: 8%!important;
    right: 0;
    bottom: 0;
    left: 39%!important;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fs_newBtn{
  border-radius: 0px;
    width: 120px;
    min-height: 42px;
    background: #74acbf;
    box-shadow: -1px 15px 29px -16px #74acbf!important;
    border: none;
    font-size: 18px;
    font-family: 'Oswald';
}
.form-control {
  font-size: 14px !important;
    font-weight: 400!important;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: #efe6ff00;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0px !important;
    height: 40px;
    border: 1px solid #0e0d0d21 !important;
    /* border-bottom: 1px solid black!important; */
}

::placeholder {
  color: #fff !important;
}

.form-control:focus {
  color: #262626;
  background-color: transparent!important;
  border-color: #141414;
  border-bottom: 2px solid #000;
  outline: 0;
  box-shadow: none;
}

label {
  /* color: #262626 !important; */
  font-size: 16px !important;
  font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  font-weight: 400;

}
.fs_label{
  position: absolute;
  top: -24%;
  background: #fff;
  left: 5%;
  width: 33%;
  text-align: center;
}
.fs_MThumbImg{min-height: 160px;}
.fs_SThumbImg{min-height: 80px;}
.fs_LThumbBdy{min-height: 160px;}
.fs_MThumbBdy{min-height: 120px;}
.fs_SThumbBdy{min-height: 40px;}
.contactCardStyle01{
  background: rgba( 255, 255, 255, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 12px!important;
}
.productCardStyle01{
  /* background: #efe6ff; */
  /* border-radius: 12px!important; */
  /* padding: 0 5px; */
  box-shadow: -1px 4px 28px -23px #0c0c0c;
}
.productCardStyle02{
  /* background: #efe6ff; */
  border-radius: 12px!important;
  /* padding: 0 5px; */
  box-shadow: -1px 4px 28px -23px #0c0c0c;
}
.shadowNow{
  box-shadow: -1px 15px 29px -28px #656565;
}

.fs_12BorderR{
  border-radius: 12px;
}
.fs_8BorderR{
  border-radius: 8px!important;
}
.fs_8BorderRTLR{
  border-top-left-radius: 8px!important;
  border-top-right-radius: 8px!important;
  
}
.fs_8BorderRBLR{
  border-bottom-left-radius: 8px!important;
  border-bottom-right-radius: 8px!important;
}
.fs_8BorderRLTB{
  border-top-left-radius: 8px!important;
  border-bottom-left-radius: 8px!important;
}
.fs_lineHeight{
  line-height: 1;
}
.fs_normalTextShadow{
  text-shadow: 0px 0px 2px #000;
}

.imgDiff{
  /* border-top-right-radius: 12px!important;
  border-bottom-left-radius: 12px!important;
  border-top-left-radius: 150px!important;
  border-bottom-right-radius: 150px!important; */
  box-shadow: 5px 6px 6px -5px #000000;
}
.imgDiff02{
  /* border-top-right-radius: 12px!important;
  border-bottom-left-radius: 12px!important;
  border-top-left-radius: 150px!important;
  border-bottom-right-radius: 150px!important; */
  box-shadow: -5px 6px 6px -5px #000000;
}


.allimgBorderBRsmall {
  border-bottom-right-radius: 22px;
}
.svg50 {
  width: 50%;
  height: 100%;
}
.imgBorderAllsmall {
  border-radius: 22px !important;
}
.imgBorderBLsmall {
  border-bottom-left-radius: 22px !important;
}

.fs_togglerBtn {
     /* width: 100px; */
    /* min-height: 40px; */
    border-radius: 0px!important;
    color: rgb(51 60 75)!important;
    border-color: rgb(51 60 75)!important;
}
.hdShadow-1{
  text-shadow: 2px 4px #00b8ff, -2px -4px #c9ff00;
    letter-spacing: 6px;
    word-spacing: 2px;
}
.fourBorder {
    box-shadow: -8px 22px 0px blue, 8px -22px 0px #f4f5f0;
}
.threeBorder {
    border-top: 1px solid black!important;
    border-right: 1px solid black!important;
    border-left: 0px solid!important;
    border-bottom: 1px solid black!important;
    border-radius: 0px!important;
}
.socialImgCardAspetRatioLarge {
    height: 0;
    overflow: hidden;
    padding-bottom: 370.23%;
}
.fs_scroll {
    max-height: 320px;
    overflow-y: auto;
}
/* my media */

@media (min-width: 320px) {
    .developerSvg1{
        width: 211px;
        height: 276px;
        top: -326px;
        left: -43px;
    }
    .deviceSvg1{
        width: 165px;
        height: 347px;
        left: 85px;
        top: -104px;
    }
    
  .card-columns {
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.fs_column_countOnsmall01{
  -webkit-column-count: 1!important;
    -moz-column-count: 1!important;
    column-count: 1!important;
}
  .helloBdyOnSmall{
    
    margin-top: -119px;
    z-index: 1;
    background-color: #fff!important;
    padding: 32px!important;

  }
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top:13%!important;
      right: 0;
      bottom: 0;
      left: 23%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }

  .fs_mt50{margin-top: 50px;}
  .fs_onlyMblNegativeMt01{
    margin-top: -120px;
  }
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
  .fs_bigImg{
    min-height: 400px!important;
  }
  .fs_leftNegative02{
    margin-left: -32px;
  }
  .negativeLeft{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -80px!important;
  }
  
  .fs_onProductButton01 {
    font-size: 12px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_SmallMediumText{
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: .7px;
  }
  .headerButton {
    font-size: 26px;
    border-radius: 8px!important;
    width: 175px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}
  .fs_onImgText02{
    font-size: 20px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 12px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 18px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 370px;
  }
  .fs_random007{
    margin-right:0px;
 z-index: 1;
    background: transparent!important;
    margin-top:0px;

   }
   .coverImg{min-height: 520px!important;}
   .baffinFont{
    font-size: 72px;
    font-family: 'Oswald',"Poppins",'Roboto', sans-serif;
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -9px;
  }
  .headerImg01{
    min-height: 72px!important;
  }
  .headerImg02{
    min-height: 132px!important;
  }
  .headerImg03{
    min-height: 250px!important;
  }
  .headerImg04{
    min-height:390px!important;
  }

  
}
/* ENDS */
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.fs_column_countOnsmall01{
  -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
}
  .fs_baseTopMonLarge{margin-top: 0px;}
  .helloBdyOnSmall{
    
    margin-top: -219px;
    z-index: 1;
    background-color: #fff!important;
    padding: 32px!important;

  }
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top:20%!important;
      right: 0;
      bottom: 0;
      left: -21%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  .fs_LargeImg {
    padding-bottom: 100%!important;/* padding-bottom: 100%;*/ /*  aspect-ratio of 1:1 */
    height: 0!important;
    overflow: hidden!important;
  }
  .fs_mt50{margin-top: 80px;}
  .fs_onlyMblNegativeMt01{
    margin-top: 80px;
  }
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
  .fs_bigImg{
    min-height: 550px!important;
  }
  .fs_leftNegative02{
    margin-left: -32px;
  }
  .negativeLeft{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -80px!important;
  }

  .headerButton {
    font-size: 26px;
    border-radius: 8px;
    width: 175px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}
  .fs_onImgText02{
    font-size: 22px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 22px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 320px;
  }
  .fs_random007{
    margin-right: -286px;
    z-index: 1;
    background: transparent!important;
    margin-top:0px;
   }
   .coverImg{min-height: 520px!important;}
   .baffinFont{
    font-size: 94px;
    font-family: 'Oswald',"Poppins",'Roboto', sans-serif;
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -19px;
  }
  .headerImg01{
    min-height: 72px;
  }
  .headerImg02{
    min-height: 136px;
  }
  .headerImg03{
    min-height: 250px!important;
  }
  .headerImg04{
    min-height: 280px!important;
  }
 

}
/* ENDS */
@media (min-width: 768px) {
    .developerSvg1{
        width: 417px;
        height: 276px;
        top: -263px;
        left: -82px;
    }
    .deviceSvg1{
        width: 351px;
        height: 347px;
        left: 163px;
        top: -107px;
    }
  .card-columns {
    -webkit-column-count: 3!important;
    -moz-column-count: 3!important;
    column-count: 3!important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 48px;
    orphans: 1;
    widows: 1;
}
.card-columns .card {
  margin-bottom: 48px;
}
.fs_column_countOnsmall01{
  -webkit-column-count: 3!important;
    -moz-column-count: 3!important;
    column-count: 3!important;
}
  .fs_baseTopMonLarge{margin-top: 80px;}
  .helloBdyOnSmall{
    
    margin-top: 0px;
    z-index: 1;
    background-color: #fff!important;
    padding: 0px!important;

  }
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top: 4%!important;
      right: 0;
      bottom: 0;
      left: 15%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
  .fs_bigImg{
    min-height: 750px!important;
  }
  .fs_leftNegative02{
    margin-left: -48px;
  }
  .negativeLeft{
    margin-left: -80px;
    margin-right: 15px;
    margin-top: 80px!important;
  }
  
  .fs_SmallMediumText{
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: .7px;
  }
  .random420{
    margin-top: -50px;
    background: #fff!important;
  }
  .fs_onImgText02{
    font-size: 28px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 620px;
  }
  .fs_random007{
    margin-right: -286px;
    z-index: 1;
    background: transparent!important;
    margin-top:0px;
   }
   .coverImg{min-height: 520px!important;}
   .baffinFont{
    font-size: 94px;
    font-family: 'Oswald',"Poppins",'Roboto', sans-serif;
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -37px;
  }
  .headerImg01{
    min-height: 62px;
  }
  .headerImg02{
    min-height: 160px;
  }
  .headerImg03{
    min-height: 385px!important;
  }
 
  .headerImg04{
    min-height: 360px!important;
  }
  .fs_mt01{margin-top: 160px;}
}
/* ENDS */
@media (min-width: 992px) {
    .developerSvg1{
        width: 260px;
    height: 276px;
    top: -177px;
    left: -82px;
    }
    .deviceSvg1{
        width: 204px;
        height: 347px;
        left: 116px;
        top: 28px;
    }
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top: 8%!important;
      right: 0;
      bottom: 0;
      left: 39%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  .fs_mt50{margin-top:126px;}
  .fs_onlyMblNegativeMt01{
    margin-top: 133px;
  }
  .fs_bigImg{
    min-height: 1000px!important;
  }
  .fs_leftNegative02{
    margin-left: -48px;
  }
  .negativeLeft{
    margin-left: -80px;
    margin-right: 80px;
    margin-top: 80px!important;
  }
  
  .fs_onProductButton01 {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText02{
    font-size: 42px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 620px;
  }
  .fs_random007{
    margin-right: -361px;
    z-index: 1;
    background: transparent!important;
    margin-top:0px;
   }
   .coverImg{min-height: 520px!important;}
   .baffinFont{
    font-size: 128px;
    font-family: 'Oswald',"Poppins",'Roboto', sans-serif;
    letter-spacing: 0px;
    font-weight: 100!important;
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -37px;
  }
  .headerImg01{
    min-height: 72px;
  }
  .headerImg02{
    min-height: 222px;
  }
  .headerImg03{
    min-height: 385px!important;
  }
  .headerImg04{
    min-height: 360px!important;
  }
  
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
 
  
  .fs_mt01{margin-top: 160px;}
  
}
/* ENDS */
@media (min-width: 1200px) {

  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top: 8%!important;
      right: 0;
      bottom: 0;
      left: 39%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  /* .mediumModalDio{min-width: 800px;
    width: auto;
    max-width: 75% !important;} */
  /* .mediumModal01ChildOne{
    position: fixed;
      top: 8%!important;
      right: 0;
      bottom: 0;
      
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  } */
  
  .fs_bigImg{
    min-height: 1371px!important;
  }
  .fs_leftNegative02{
    margin-left: -48px;
  }
  .headerButton{
    font-size: 32px;
    border-radius: 8px;
    width: 260px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}
 .fs_random007{
  margin-right: -471px;
  z-index: 1;
  background: transparent!important;
  margin-top:0px;
 }
 .coverImg{min-height: 620px!important;}
 .baffinFont{
  font-size: 171px;
  font-family: 'Oswald',"Poppins",'Roboto', sans-serif;
  /* text-transform: lowercase; */
  letter-spacing: 0px;
  font-weight: 100!important;
}
.fs_random00701{
 margin-top: -80px;
 margin-left: -48px;
 }
  .line_height{
    line-height: 48px;
  }
  .productImg{
    min-height: 620px;
  }
 
  .negativeMt{
    margin-top: -24px;
  }
  .headerImg01{
    min-height: 80px;
  }
  .headerImg02{
    min-height: 222px;
  }
  .headerImg03{
    min-height: 385px!important;
  }
 
  .fs_mt01{margin-top: 160px;}
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
}
/* ENDS MY MEDIA */
/* START BOSS */
@media (min-width: 320px) {

  .fs_headerSection_Height {
    min-height: calc(15em + 45vw);
  }
} /* small devices 65vw; */
@media (min-width: 576px) {
  
  .fs_headerSection_Height {
    min-height: calc(10em + 35vw);
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_headerSection_Height {
    min-height: calc(10em + 37vw);
  }
} /* ipad */
@media (min-width: 992px) {
 
  .fs_headerSection_Height {
    min-height: calc(10em + 30vw);
  }
} /* desktop */
@media (min-width: 1200px) {
  .fs_headerSection_Height {
    min-height: calc(10em + 30vw);
  }
} /* large devices */
/* Other bigger section height */
@media (min-width: 320px) {
  .fs_otherBigSection_Height {
    min-height: 45vw;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_otherBigSection_Height {
    min-height: 55vw;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_otherBigSection_Height {
    min-height: 47vw;
  }
} /* ipad */
@media (min-width: 992px) {
  .fs_otherBigSection_Height {
    min-height: 32vw;
  }
} /* desktop */
@media (min-width: 1200px) {
  .fs_otherBigSection_Height {
    min-height: 35vw;
  }
} /* large devices */

/* Move section up on another section */
@media (min-width: 320px) {
  .fs_sectionMoveUp {
    margin-top: -32vw;
  }
}
@media (min-width: 576px) {
  .fs_sectionMoveUp {
    margin-top: -16vw;
  }
} /* Move up with negative margin on another section */
@media (min-width: 768px) {
  .fs_sectionMoveUp {
    margin-top: -19vw;
  }
}
@media (min-width: 992px) {
  .fs_sectionMoveUp {
    margin-top: -15vw;
  }
}
@media (min-width: 1200px) {
  .fs_sectionMoveUp {
    margin-top: -12vw;
  }
}

.cBodyTxtColor {
  color: #928989;
}
.fs_fixed_H100 {
  min-height: 100px;
  max-height: 100px;
}
@media (min-width: 576px) {
  .fs_fixed_H200 {
    min-height: 270px;
    max-height: 270px;
  }
} /* not for small screen */

/* Responsive text */
/* responsive headlines  */
@media (min-width: 320px) {
  .fs_resp_HL {
    font-size: 48px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_HL {
    font-size: 55px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_HL {
    font-size: 72px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */
/*  responsive sub headlines  */

@media (min-width: 320px) {
  .fs_resp_SL {
    font-size: 28px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_productHL{
    font-size: 19px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_SL {
    font-size: 40px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_productHL{
    font-size: 26px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_SL {
    font-size: 42px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_productHL{
    font-size: 36px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive 'sub sub' headlines  */
@media (min-width: 320px) {
  .fs_resp_Sub_SL {
    font-size: 25px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_Sub_SL {
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_Sub_SL {
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 320px) {
  .fs_HL_bdyTxt {
    font-size: 22px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_HL_bdyTxt {
    font-size: 25px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_HL_bdyTxt {
    font-size: 25px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive 'bdyText'. Show more on mobile. Standard everywhere */
@media (min-width: 320px) {
  .fs_bdyTxt {
    font-size: 16px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_bdyTxt {
    font-size: 17px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_bdyTxt {
    font-size: 17px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 320px) {
  .fs_card_HL {
    font-size: 20px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_HL {
    font-size: 22px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_HL {
    font-size: 23px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 320px) {
  .fs_card_Sub_HL {
    font-size: 22px;
    font-family:"Poppins", "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_Sub_HL {
    font-size: 22px;
    font-family:"Poppins", "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_Sub_HL {
    font-size: 26px;
    font-family:"Poppins", "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 320px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/* Responsive text */
@media (min-width: 320px) {
  .subHeader-base-font {
    font-size: 12px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
}
@media (min-width: 576px) {
  .subHeader-base-font {
    font-size: 15px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
}
/* responseive text ends */
.fs_Horizontalscroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    
}
.fs_Horizontalscroll::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 14px rgb(43 46 6);
    
}
.fs_Horizontalscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
    border-radius: 0px;
    
}


/*  SPECIFIC to Value stream management */
@media (min-width: 320px) {
  .fs_vsm_HL {
    font-size: 32px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_vsm_HL {
    font-size: 36px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_vsm_HL {
    font-size: 72px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
}

.fs_vsm_image {
  border: 16px solid #046dffbe;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 320px) {
  .fs_vsm_image {
    width:120px;
    min-height: 120px;
    border: 6px solid #046dffbe;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_vsm_image {
    width:140px;
    min-height: 140px;
    border: 8px solid #046dffbe;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_vsm_image {
    width:180px;
    min-height: 180px;
  }
}





.svmFeatureHL{
    margin-top: -49px;
    margin-left: 77px;
  }

  .vsmAmplifier{
    font-size: 20px;
    /* letter-spacing: 18px; */
    font-weight: 700 !important;
  } 


/* Responsive text */
/* responsive headlines  */
@media (min-width: 350px) {
  .svmFeatureHL{
    font-size: 17px;
  }
  .vsmAmplifier{
      letter-spacing: 1px;
      font-size: 16px;
  }
} /* small devices 65vw; */
@media (min-width: 576px) {
  .svmFeatureHL{
      font-size: 22px;
   }
   .vsmAmplifier{
      letter-spacing: 3px;
      font-size: 21px;
  }
} 
@media (min-width: 768px) {
  .svmFeatureHL{
      font-size: 25px;
   }
   .vsmAmplifier{
        letter-spacing: 12px;
        font-size: 17px;
    }
} /* ipad */
@media (min-width: 992px) { 
  .svmFeatureHL{
    font-size: 25px;
 }
 .vsmAmplifier{
      letter-spacing: 12px;
      font-size: 21px;
  }
} /* desktop */
@media (min-width: 1200px) {
  .svmFeatureHL{
    font-size: 25px;
 }
 .vsmAmplifier{
      letter-spacing: 12px;
      font-size: 21px;
  }
}



  .svmFeatureBdyTxt{
    color:#000000;
  }